/* USE OF LESS.JS ? http://lesscss.org/ */

body{
  background-color: rgb(236, 234, 234);
}

button.buttonStart{
  text-align:center;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(195, 26, 26);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  font-family: Cooper;
}

button.buttonStart:hover {background-color:rgb(173, 18, 18)}

button.buttonStart:active {
  background-color: rgb(173, 18, 18);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

circle.dotMap{
  opacity:0.7;
  stroke-width:1;
  stroke: black;
}

circle.dotMapLegend{
  opacity:0.4;
  stroke-width:1;
  stroke: black;
}

circle.swatch{
  opacity:0.7;
  stroke-width:1;
  stroke: black;
  fill:red;
}

div.button{
  text-align:center;
}
 
div#container{
  text-align:center;
}

div.more{
  overflow: hidden;
  text-align: right;
  font-family: Cooper;
  font-size : 15px;
  color:  LightSlateGrey;
  text-decoration: none
}

div.question {
  text-align:center;
  font-size: 20px;
  margin-top: 70px;
  font-family: Cooper;
  font-size : 60px;
  margin-bottom: 20px;
}


div#sliderRotate{
  text-align:center;
  margin-bottom: 0;
}

div.sliderLabel{
  font-size : 17px;
  font-family: Cooper;
}

div.source{
  font-family: Calibri;
  text-align:right;
  color:  LightSlateGrey;
  font-style: italic;
  font-size: 18px;
}

div.tooltip {
  color: #222; 
  background: #fff; 
  border-radius: 3px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  padding: .2em; 
  text-shadow: #f5f5f5 0 1px 0;
  opacity: 0.85; 
  position: absolute;
}

div.hidden {
  display: none;
}

img{
  width:700px;
  float: left;
}

input[type=button] {
  font-family: Cooper;
}


path.countries {
  stroke-width: 1;
  stroke: rgb(155, 135, 93);
  stroke-opacity:0.2;
}

path.graticule {
  fill: none;
  stroke-width: 0.1;
  stroke: rgba(73, 73, 73, 0.692);
}

path.globeFill {
  fill: rgba(172, 160, 153, 0.767);
  /* fill: rgba(72, 97, 138, 0.52); */
  stroke-width: 0;
}

path.outline {
  stroke: rgba(73, 73, 73, 0.692);
  stroke-width: 0.1;
}

path.mapFill{
  stroke: rgba(73, 73, 73, 0.692);
  stroke-width: 1;
  /* fill: rgba(172, 160, 153, 0.767); */
  fill:rgb(150, 196, 223);
  opacity:0.5;
}

rect.backgroundGraph{
  fill:rgb(208, 209, 211);
  stroke: rgba(73, 73, 73, 0.692);
  opacity:0.7
}

.highlight{
  color: rgb(180, 11, 11)
}


text.legendTitle{
  font-size:28px;
  font-family: Cooper;
}

text.dotMapTitle{
  font-size:28px;
  font-family: Calibri;
}

text.frac{
  font-size: 100px;
  font-family: Cooper;
  fill: rgb(180, 11, 11)
}

text.bigText{
  font-size: 30px;
  font-family: Calibri;
  fill: black
}

text.graphLabel{
  font-size: 12px;
  font-family: Cooper;
  fill: black
}

text.dotMapLabel{
  font-size: 14px;
  font-family: Calibri;
  fill: black
}

select{
  font-size: 20px;
  font-family: Cooper;
  fill: black;
  margin-top: 20px;
  margin-bottom: 20px;
}

g.tick{
  stroke: rgba(73, 73, 73, 0.692);
}

line{
  opacity: 0.5;
  stroke: rgba(73, 73, 73, 0.692);
  stroke-width: 3px;
}

line.lineMapLegend{
  opacity: 0.5;
  stroke: rgba(73, 73, 73, 0.692);
  stroke-width: 2px;
}